

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

div{
    width: 30px;
    height: 30px;
    margin-top: 250px;
    border: 5px solid rgba(18, 1, 1, 0.2);
    border-top: 5px solid white;
    border-radius: 50%;
    animation: circle 1s linear infinite;
}

@keyframes circle {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}